.common-button{
	width:auto; height:20px; padding:5px 12px; text-align:center; color:#FFF; font:bold; 
}
.bg1{background:#00cc33;}
.bg2{background:#39e667;}
.bg3{background:#67e689;}
.bg4{background:#ff1e00;}
.bg5{background:#ff5640;}
.bg6{background:#ff8373;}
.bg7{background:#ff7f00;}
.bg8{background:#ff9f40;}
.bg9{background:#ffb873;}
.bg10{background:#0591b2;}
.bg11{background:#3bbbd9;}
.bg12{background:#65c3d9;}
.bg13{background:#b9b9b9;}