@media (min-width:1120px) {
.container { width: 1340px; }
}
@media (min-width:992px) {
/** 课程页 左侧770像素 **/
.main-inner.col-md-8, .l-wrap.col-md-8 { width: 67.5438%; }
.aside.col-md-4, .r-wrap.col-md-4 { width: 32.4562%; }
}
@media (max-width:767px) {
.dp-footer { min-height: 0px !important; }
.dp-footer .wrap { display: none !important; }
.dp-footer>.main { display: none !important; }
}
body { background: #fff; font-family: "microsoft yahei"; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, html { font-family: "microsoft yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
ul, ol { list-style: outside none none; }
a { text-decoration: none; cursor:pointer;}
a:focus{ outline:none;}
textarea{resize: none;}
.clean { clear: both; }
.green { color: #00D753; }
.ke-container.ke-container-default { width: 100% !important; }
.ps-scrollbar-x-rail { display: none !important; }
.ps-scrollbar-y-rail { top: 0px !important; }
.btn-success { border: 0; }
.fullScreen { margin-top: 0px !important; margin-left : 0px !important; margin-bottom: 0px !important; padding: 0px !important; }
.fhw { height: 100% !important; width: 100% !important; }
.fh { height: 100%; }
.dim { -webkit-filter: brightness(70%); -moz-filter: brightness(70%); -o-filter: brightness(70%); -ms-filter: brightness(70%); filter: brightness(70%); }
.fullScreen .banner-wrap.row .col-md-9 { width: 75%; float: left; }
.fullScreen .banner-wrap.row .col-md-3 { width: 25%; float: left; }
.underline { text-decoration: underline !important; }
.heart { background: url("../img/heart.png") no-repeat; height: 20px; width: 20px; display: inline-block; }
.heart2 { background: url("../img/heart2.png") no-repeat; height: 20px; width: 20px; display: inline-block; }
.face { background: url("../img/face.png") no-repeat; height: 26px; width: 26px; display: inline-block; }
.face2 { background: url("../img/face2.png") no-repeat; height: 26px; width: 26px; display: inline-block; }
.pic { background: url("../img/pic.png") no-repeat; height: 26px; width: 26px; display: inline-block; }
.bas { background: url("../img/my/basic.png") no-repeat; height: 30px; width: 25px; display: inline-block; }
.clock { background: url("../img/my/clock.png") no-repeat; height: 25px; width: 25px; display: inline-block; }
.horn { background: url("../img/my/horn.png") no-repeat; height: 25px; width: 25px; display: inline-block; }
.play { background: url("../img/my/play.png") no-repeat; height: 30px; width: 25px; display: inline-block; }
.app-qr { background: url("../img/app-qr.png") no-repeat; }
.wx-qr { background: url("../img/wx-qr.png") no-repeat; }
.girl { background: url("../img/girl.png") no-repeat; }
.pagination { margin-bottom: 0px; }
#scrollToHeadset p { margin: 0px; }
#scrollToHeadset div { content: " "; display: block; width: 0px; height: 0px; position: relative; float: right; margin-right: 20px; top: 7px; border-width: 10px 7px 0px; border-style: solid solid none; border-color: #FF8743 transparent #FF8743; }
#scrollToHelp { background: #B5B5B5; opacity: 1.0; cursor: pointer; color: #FFF; position: fixed; z-index: 9999; right: 0px; top: 140px; width: 70px; height: 75px; padding: 7px; display: block; font-size: 15px; text-align: center; border-top-left-radius: 8px; border-bottom-left-radius: 8px; }
/** 顶部导航 { **/
.dp-nav { background: #282836; border-radius: 0; }
.dp-nav a { color: #494657; }
.dp-nav > div { width: 1310px; margin: auto; padding: 0px; }
.navbar{ min-height:60px;}
.dp-nav .search { width: 125px; margin-right: 17px; }
.dp-nav .search i { top: -3px; color: #B5B5BF; left: 5px; }
.dp-nav .search input { color: #7e7e8c; font-size: 12px; display: inline; background: #282836; width: 100px; height: 25px; border: 0px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; margin: 10px 0 0; box-shadow: 0px 0px 0px; padding: 0px 0px 0px 10px; border: 1px solid #CDCDD9; }
.dp-nav .search .search-btn { margin: 10px 0 0; padding-left: 0px; margin-left: -10px; background-color: #282836; border: 1px solid #CDCDD9; border-left: 0px; color: #B5B5BF; height: 25px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.dp-nav .search.active .typehead { background: white; border: 1px solid white; }
.dp-nav .search.active .typehead-btn { background: white; border: 1px solid white; }
.dp-nav .search.active .typehead-search { color: #00D853; }
.dp-nav .navbar-header .logo img { margin-top: -3px; }
.dp-nav .navbar-toggle .icon-bar { background: #fff; }
.dp-nav .navbar-collapse { padding-top: 10px; }
.dp-nav .dp-collapse > .navbar-nav:first-child { margin-left: 28px; }
.dp-nav .dp-collapse .dp-navbar li { margin-top: 11px; }
.dp-nav .dp-collapse .dp-navbar a { background: none; border:0; outline:0; padding-top: 0px; padding-left: 13px; padding-right: 12px; padding-bottom: 0px; font-size: 18px; color: #C1C1CC; }
.dp-nav .dp-collapse .navbar-right a { font-size: 13px !important; padding-left: 16px; padding-right: 16px; }
.dp-nav .dp-collapse .dp-navbar li:first-child a { color: #7E7E8C; }
.dp-nav .dp-collapse .dp-navbar a:hover, .dp-nav .dp-collapse .dp-navbar .active { color: #fff; }
.dp-nav .navbar-toggle { margin-top: 25px; }
.dp-nav .dp-collapse .dp-navbar .dropdown-menu a { line-height: 20px; padding: 3px 20px; color: #65656C;}
.dp-nav .dp-collapse .dp-navbar .dropdown-menu a:hover { color: #00D753; }
.dp-nav .new-message-count.active { background: rgb(255, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-radius: 50%; font-size: 10px; top: -8px; position: relative; padding: 0px 3px; }
.dp-nav .dp-dropdown-menu { top: 30px; min-width: 90px; border-radius: 0px; }
.dp-nav .dp-dropdown-menu .border-top:before { content: '\20'; display: block; width: 0; height: 0; top: -10px; position: relative; float: right; margin-right: 20px; top: -10px; border-width: 0 5px 5px; border-style: none solid solid; border-color: transparent transparent rgba(255,255,255,1); }
/** } 顶部导航  **/

/** 首页 头图 **/
.home.content-container #slider .carousel-inner > .item { height: 430px; }
.home.content-container .carousel-inner > .item > img, .carousel-inner > .item > a > img { height: 430px; background: #EFF9FF none no-repeat scroll center 0px; width: auto; max-width: none; }
/** 首页 头图 **/

/** 注册 { **/
.dp-reg { background: #fff; }
@media (min-width:992px) {
.dp-reg .col-md-offset-3 { margin-left: 29%; }
}
.dp-reg .panel-width { /* padding: 45px 110px 50px; */
padding-left: 25px; padding-right: 25px; }
.dp-reg h2 { color: #7A7B90; }
.dp-reg form input { background: #F7F7F7; height: 50px; font-size: 16px; }
.dp-reg form .rg-code { display: inline; width: 60%; }
.dp-reg form .btn-code { color: #00E155; background: #fff; border: 1px solid #00E155; height: 50px; font-size: 18px; width: 37%; float: right; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.dp-reg form .btn-code:hover { color: #fff !important; background: #00E155 !important; border: 1px solid #00E155 !important; }
.dp-reg form .btn-code.reverse { color: #fff; background: #00E155; border: 1px solid #00E155; }
.dp-reg form .btn-code:hover { color: #00D853; background: #fff; border: 1px solid #00D853; }
.dp-reg form button { color: #fff; height: 50px; font-size: 18px; background: #00E155; border: none; }
.dp-reg #submit { margin-top: 30px; }
.dp-reg form button:hover { color: #fff; background: #00D853; }
.dp-reg form .agree-box { float: left; height: 13px; }
.dp-reg form .agreement > span { margin-left: 5px; color: #555; }
.dp-reg form .agreement > span span:hover { text-decoration: underline; }
.dp-reg form .agreement > span span { display: inline-block; color: #00E155; }
/** } 注册  **/

/** 登陆 { **/
.dp-lg { }
@media (min-width:992px) {
.dp-lg .col-md-offset-3 { margin-left: 29%; }
}
.dp-lg .panel-width { /* padding: 45px 110px 50px; */
padding-left: 25px; padding-right: 25px; }
.dp-lg a { color: #00D853; text-decoration: none; }
.dp-lg h2 { color: #7A7B90; }
.dp-lg form input { background: #F7F7F7; height: 50px; font-size: 16px; }
.dp-lg form .pd { padding-left: 45px; }
.dp-lg form .form-group.i { margin-top: -24px; }
.dp-lg form .mobile, .dp-lg form .password { padding-left: 45px; position: relative; top: 38px; font-size: 20px; }
.dp-lg form .mobile { background: url("../img/user.png") no-repeat scroll left center transparent; }
.dp-lg form .password { background: url("../img/lock.png") no-repeat scroll left center transparent; }
.dp-lg form button { margin-top: 30px; color: #fff; height: 50px; font-size: 18px; background: #00E155; border: none; }
.dp-lg form button:hover { color: #fff; background: #00D853; }
.dp-lg .auto-lg label { color: #A1A1A1; }
.dp-lg .auto-lg input { float: left; height: 13px; }
/** } 登陆  **/

/** 密码忘记 { **/
.dp-fpw { }
@media (min-width:992px) {
.dp-fpw .col-md-offset-3 { margin-left: 29%; }
}
.dp-fpw h2 { color: #7A7B90; }
.dp-fpw form input { background: #F7F7F7; height: 50px; font-size: 16px; }
.dp-fpw form .rst-code { display: inline; width: 60%; }
.dp-fpw form .btn-code:hover { color: #00D853; background: #FFF none repeat scroll 0% 0%; border: 1px solid #00D853; }
.dp-fpw form .btn-code { color: #00E155; background: #FFF none repeat scroll 0% 0%; border: 1px solid #00E155; height: 50px; font-size: 18px; width: 37%; float: right; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.dp-fpw form button { margin-top: 30px; color: #fff; height: 50px; font-size: 18px; background: #00E155; border: none; }
.dp-fpw form button:hover { color: #fff; background: #00D853; }
/** } 密码忘记  **/

/** } 支付页 **/

/** footer页脚 {**/
.dp-footer { background: #fff; min-height: 270px; }
.dp-footer .wrap { border-bottom: 1px solid #E6E6F2; margin-bottom: 40px; }
.dp-footer .container { padding: 0px; }
.dp-footer .nav ul { min-height: 70px; }
.dp-footer .nav li { margin-right: 60px; line-height: 70px; }
.dp-footer .nav span { color: #8F8FB3; }
.dp-footer .nav li { font-size: 17px; }
.dp-footer .nav li:last-child { margin-right: 0px; }
.dp-footer .img1, .dp-footer .img2, .dp-footer .img3, .dp-footer .img4 { margin-right: 5px; display: inline-block; position: relative; top: 4px; overflow: hidden; width: 25px; height: 25px; background: transparent url("../img/footer-img.png") no-repeat scroll 0% 0%; }
.dp-footer .img1 { background-position: -3px 0px; }
.dp-footer .img2 { background-position: -30px 0px; }
.dp-footer .img3 { background-position: -57px 0px; }
.dp-footer .img4 { background-position: -83px 0px; }
.dp-footer .nav-r { margin-top: 10px; }
.dp-footer .consult { font-size: 19px; color: #00D751; }
.dp-footer .time { color: #8F8FB3; }
.dp-footer .more { padding: 0px; margin: 0px; border-bottom: 1px solid #E6E6F2; padding-bottom: 16px; }
.dp-footer .more h3 { color: #8F8FB3; font-size: 15px; margin-bottom: 17px; }
.dp-footer .more .float-l { width: auto; margin-right: 70px; padding: 0px; }
.dp-footer ul { list-style: outside none none; padding: 0px; }
.dp-footer .more .float-l:last-child { margin-right: 0px; }
.dp-footer .more a { color: #A9A9B3; }
.dp-footer .qr-group { float: right; }
.dp-footer .qr-group>div { float: left; margin-right: 32px; }
.dp-footer .qr-group>div:last-child { margin-right: 0px; }
.dp-footer .qr-group span { display: block; color: #8E90B2; font-size: 13px; margin-top: 5px; }
.dp-footer .qr-group i { display: inline-block; position: relative; overflow: hidden; width: 75px; height: 75px; }
.f-wrap { padding-top: 12px !important; padding-left: 0px !important; color: #a4a4cf; font-size: 14px; margin: 0 auto; }
.dp-footer .copyright { margin-top: -3px; }
.f-wrap ul { float: left; }
.f-wrap li { float: left; padding: 0 16px; border-right: 1px solid #a4a4cf; line-height: 14px; }
.f-wrap li:first-child { padding-left: 0px !important; }
.f-wrap li:last-child { border-right: 0px; }
.f-wrap li.help { border-right: none; }
.f-wrap li a { color: #a4a4cf; }
.copyright { float: right; }
/** } footer页脚 **/

/** 悬浮框 { **/
.suspension_frame>div { background: #666680; color: #fffefd; width: 70px; height: 70px; opacity: 0.95; cursor: default; position: fixed; z-index: 9999; right: 0px; display: block; font-size: 14px; text-align: center;/* border-top-left-radius: 8px; */
}
.suspension_frame>div:hover { background: #525266; }
.suspension_frame img { margin-top: 10px; }
.suspension_frame>div:nth-child(1) { background: #ff562e; top: 100px; }
.suspension_frame>div:nth-child(1) a { color: #FFFEFD; }
.suspension_frame>div:nth-child(1) a:hover, .suspension_frame>div:nth-child(1) a:focus { text-decoration: none; }
.suspension_frame>div:nth-child(1):hover { background: #e7522d; }
.suspension_frame>div:nth-child(2) { top: 170px; }
.suspension_frame>div:nth-child(3) { top: 240px; font-size: 12px; }
.suspension_frame>div>div { top: 170px; right: 70px; width: 165px; height: 140px; background: #282836; position: fixed; z-index: 9999; display: block; text-align: center; cursor: default; }
.suspension_frame>div:nth-child(1)>div { top: 100px; height: 165px; height: 70px; background: #ff5f39; padding-left: 10px; padding-right: 10px; }
.suspension_frame>div:nth-child(1)>div p { position: relative; }
.suspension_frame>div:nth-child(1)>div .serverTime { top: -110px; text-align: right; margin: 0px; }
.suspension_frame>div:nth-child(1)>div .time { top: -110px; text-align: right; }
.suspension_frame>div:nth-child(2)>div { padding: 15px 10px 0px; text-align: right; top: 170px; height: 165px; height: 70px; background: #666680; }
.suspension_frame>div:nth-child(3)>div { padding: 17px 26px; background: #666680; top: 240px; height: 141px; width: 165px; }
.suspension_frame>div:nth-child(3) .l { padding-top: 58px; width: 60px; }
.suspension_frame>div:nth-child(3) span { color: #fffefd; }
.suspension_frame>div:nth-child(3) div img { margin: 0px; }
.suspension_frame .girl { width: 75px; height: 130px; display: inline-block; position: relative; top: -60px; right: 43px; }
.suspension_frame h4 { font-size: 16px; color: #fffeld; margin: 0px; padding: 0px; }
.suspension_frame .phone-number { color: #fff; margin: 1px 0px 0px; padding: 0px; font-size: 20px; font-weight: bolder; }
.suspension_frame .tip { color: #747476; font-size: 12px; margin-top: 1px; margin-bottom: 5px; }
.suspension_frame input, .suspension_frame button { height: 24px; margin-top: 5px; width: 146px; }
.suspension_frame input { padding: 0px 16px; font-size: 12px; }
.suspension_frame button { border: 1px solid transparent; background: #ff562e; color: #fffefd; }
/** } 悬浮框 **/



/*******课程页 跟随滚动菜单  {  **********/
.dp-gd-menu { margin-left: 75px; padding-top: 12px; }
.dp-gd-menu a { padding-left: 30px; padding-right: 30px; color: #7C7C7C; font-family: "microsoft yahei", "Helvetica Neue", "Helvetica,Arial,sans-serif"; font-size: 18px; border-right: 1px solid #000; height: 19px; line-height: 19px; display: inline-block; }
.dp-gd-menu a:nth-last-child(1) { border-right: 0px; }
.dp-gd-menu a:hover { color: #42E282; text-decoration: none; }
.dp-gd-menu a .live { color: #fff; background: #42E282; height: 20px; margin-left: 10px; padding: 3px 10px; top: -3px; position: relative; border-radius: 10px; font-size: 12px; }
.dp-gd-menu .active { color: #42E282; }
.dp-gd-menu .dp-ks-table { border-right: 1px solid #000; }
.dp-bm-btn { float: right; margin-right: 30px; width: 20%; }
.dp-bm-btn a { width: 50%; font-family: "microsoft yahei"; font-size: 16px; }
.dp-guest .smint { display: none; width: 100%; height: 55px; margin-left: 0px; z-index: 99; background-color: #F2F2F2; }
.dp-guest .smint > div { padding-top: 5px; }
.dp-guest .smint h4 { font-size: 20px; color: #7E7E7E; }
.dp-guest .smint .purchase { background: #00D753; color: #FFF; font-size: 18px; padding-top: 1px; padding-bottom: 1px; width: 120px; }
.dp-guest .smint .dp-bm-btn { margin-top: 10px; }
/*******  }  课程页 跟随滚动菜单   **********/

/** 分页 {**/
.pagination a { color: #686880 !important; }
.pagination a:hover { color: #FFF; background: #00D753 !important; }
.pagination .disabled a:hover { color: #686880 !important; border: 1px solid #686880; background: #fff !important; }
/** } 分页 **/


/**********大鹏教育-我的学习样式***************/

.dp-grzx-content { padding-top: 30px !important; padding-right: 0px;}
.dp-grzx-content .panel { border: 0px; box-shadow: 0px 0px 0px; }
.dp-beijing-color { background-color: #f0f0f0 !important; }
.dp-side-menu a { background-color: #f0f0f0 !important; padding-top: 0px; border: 0px !important; outline:0;}
.dp-side-menu a:hover { color: #00D853; }
.dp-side-menu .active { color: #00D853 !important; }
.dapeng-cx-text { color: #00D853 !important; }
.dapeng-cx-btn { background-color: #00D853 !important; }
.dp-bianping-btn { border-radius: 0px; border: 0px; }

.dp-cxx-menu .dp-side-menu .hover{ color: #00D853;}

/****账号设置*****/
.dp-geren { padding-left: 30px; padding-right: 30px; border-right: 0px solid #000; }
.dp-zhanghao { padding-left: 30px; }
.dp-geren a { color: #999; font-size: 16px; }
.dp-geren .active { font-weight: bold; color: #00D853; }
.dp-zhanghao a { color: #999; font-size: 16px; }
.dp-zhanghao .active { font-weight: bold; color: #00D853; }
.dp-cxx-menu { padding-left: 0px; border: 0px; box-shadow: 0px 0px rgba(0, 0, 0, 0); }

/***分页样式****/
/*
.pagination>li>a, .pagination>li>span { font-size: 18px; line-height: 18px; padding: 2px 6px; border-radius: 13px; color: #686880; border: none; margin-left: 6px; }
.pagination>li:first-child>a, .pagination>li:first-child>span { border-radius: 13px; border: 1px solid #686880; padding: 2px 8px; }
.pagination>li:last-child>a, .pagination>li:last-child>span { display: none !important; border-radius: 13px; border: 1px solid #686880; padding: 2px 8px; margin-left: 10px; }
.pagination .pageNext>a, .pagination .pageNext>span { border-radius: 13px; border: 1px solid #686880; padding: 2px 8px; }
.pagination>.active>a, .pagination>.active>span { background: #00d753; }
.pagination a:hover { color: #FFF; background: #00D753 !important; }
*/

.list-group-panel { }
.list-group-panel .list-group-heading { color: #999; padding: 5px 0;/*margin-bottom: 5px;*/}
.list-group-panel .list-group { }
.list-group-panel .list-group-item { border: none; border-radius: 0 0 !important; color: #444; border-left: 3px solid #fff; }
.list-group-panel .list-group-item.active, .list-group-panel .list-group-item.active:hover { background: #f3f3f3; color: #428bca; font-weight: bold; border-left: 3px solid #428bca; }
.list-group-panel .list-group-item:hover { border-left: 3px solid #eee; }
/***********************/


.dp-member-content{ background:#fff; min-height:600px; margin:25px 0 30px; padding:0 30px;width:90%;}
.dp-member-title { margin:6px 0 30px; border-bottom:1px #ccc solid; padding:6px 0 0;}

.navbar a{ outline:0;}

a.actBtn{ background:#908FB4; color:#fff; display:inline-block; padding:0 3px; text-decoration:none;}
em.error{ color:#f00; font-style:normal;}


.search-row .form-group{ margin-right:25px; margin-bottom:20px;}


.list-group-panel .list-group-item:hover{ border:0;}

.container .dp-side-menu-2{ background:none; padding-top:30px;}
.container .dp-side-menu-2 li{ background:none;}
.container .dp-side-menu-2 li a{ background:none; border:none; font-size:16px;}
.container .dp-side-menu-2 li a.cur{ color:#0c3;}

.dp-member-content{ box-shadow:0px 0px 6px #ddd;}

.dp-member-title-2{ background:url(/Public/img/ico-1.gif) no-repeat 0 8px; padding-left:26px; line-height:30px; font-size:16px; margin-left:15px;}
.dp-member-body-2{ padding-top:30px;}

.ico-2{ display:inline-block; width:24px; height:24px; vertical-align:middle; background:url(/Public/img/ico-2.gif) no-repeat;}
.ico-3{ display:inline-block; width:24px; height:24px; vertical-align:middle; background:url(/Public/img/ico-3.gif) no-repeat;}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus{ background:#0c3; color:#fff; border:1px #0c3 solid;}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover{ background:#0c3; color:#fff; border:1px #0c3 solid;}
/*管理 角色 列表*/
.act_list{ position:relative; background:#f00; zoom:1;}
.act_list .sel{ margin:0; padding:0; width:80px; height:22px; line-height:22px; overflow:hidden; position:absolute; border:1px transparent solid; left:0; top:0;}
.act_list .sel li a{ display:block; width:100%; height:22px; line-height:22px; margin:0; padding:0 0 0 10px; outline:0; text-decoration:none;}
.act_list .sel_on{ height:auto; border:1px #C4C4C4 solid; background:#fff; z-index:10; box-shadow:0px 0px 6px #ccc; border-radius:3px;}
.act_list .sel_on li a:hover{ background:#71A406; color:#fff; text-decoration:none;}

.gray{ color:#aaa;}